h1, h2, h3,h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $color-2;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.left-50 {
  @media only screen and (min-width: 720px) {
    width: 50%;
    padding-right: 12px;
  }
}

.right-50 {
  @media only screen and (min-width: 720px) {
    width: 50%;
    padding-left: 12px;
  }
}

.row {
  margin: 0 30px;
}

.spacing {
  height: 86px;
   @media only screen and (min-width: 720px) {
    height: 102px;
   }
}

.spacing-2 {
  height: 24px;
   @media only screen and (min-width: 720px) {
    height: 48px;
   }
}

.visually-hidden {
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
