//Copyblock stylesheet 

.copyblock1 {
	background-color: $color-2;
	.copy-right {
		padding-top: 31px;
	}
	h3 {
		padding-bottom: 7px;
	}
  @media only screen and (min-width: 720px) {
  	.copy1-ctr {
  		display: flex;
		}
		.copy-right {
			padding-top: 0;
		}
		.heading-2 {
			padding-top: 96px;
		}
  }
}