//Form stylesheet

.form {
	background-color: $color-4;

	.heading-2 {
		margin-bottom: 34px;
		color: $color-2;
	}

	p {
		color: $color-2;
		margin-bottom: 30px;
		max-width: 90%;
	}

	input, textarea {
		border: 0;
		padding: 8px 12px 7px;
		outline: 1px solid white;
		&::-webkit-input-placeholder {
			@extend .body
		}
	}

	.name-email {
		.name, .email {
			margin-bottom: 21px;
			label, input {
				width: 100%;
				display: block;
			}
		}
	}

	.message-container {
		label, textarea {
			width: 100%;
			display: block;
		}
		textarea {
			height: 117px;
			margin-bottom: 24px;
		}
	}

	.heading-5 {
		margin-bottom: 12px;
		color: $color-2;
	}

	@media only screen and (min-width: 720px) {
		.row-fields {
			display: flex;
		}
		.name-email, .message-container {
			width: calc(50% - 12px);
			.email {
				margin-bottom: 0;
			}
		}
		.name-email {
			margin-right: 12px;
		}
		.message-container {
			margin-left: 12px;
		}
		p {
			max-width: 75%;
		}
	}
}

//for the text on desktop
//  width: 42%;
//  padding-bottom: 17px;