//header stylesheet

nav {
  background-color: $color-1;
  position: fixed;
  width: 100%;
  z-index: 100;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .logo {
  //   height:30px;
  //   width: 60px;
  //   @include svgPng('sarahlogo');
  //   background-position: center;
  // }
  li {
    display: inline-block;
    padding: 22px 0 15px;
    margin: 0 12px;
    color: white;
    border-bottom: 3px solid transparent;
    @extend %soft-transition;
    &:hover {
      border-bottom: 3px solid white;
      cursor: pointer;
    }
    a {
      color: white;
    }
  }
}

canvas {
  // height: calc(100vh - 60px) !important;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 635px !important;
  background-color: #f1f1f1;
  z-index: 1;
  @media only screen and (min-width: 500px) {
    height: 700px !important;
  }
  @media only screen and (min-width: 721px) {
    height: 500px !important;
   }
   @media only screen and (min-width: 1260px) {
    height: 560px !important;
   }
}

.particles-container {
  height: 635px;
   @media only screen and (min-width: 500px) {
    height: 700px;
   }
   @media only screen and (min-width: 721px) {
    height: 500px;
   }
   @media only screen and (min-width: 1260px) {
    height: 550px;
   }
}

main {
  padding-top: 100px;
  @media only screen and (min-width: 400px) {
    padding-top: 60px;
  }
  @media only screen and (min-width: 720px) {
    padding-top: 0;
  }
}

.top-section {
  position: relative;
  .abs-cont {
    position: absolute;
    top: 89px; //110
    left: 0;
    right: 0;
    margin: auto;
    z-index: 40;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2 {
      margin-bottom: 12px; //26
      background-color: rgba(241, 241, 241, 0.48);
      padding-top: 36px;
    }
    h3 {
      margin-bottom: 48px;
      background-color: rgba(241, 241, 241, 0.48);
    }
  }
  .copy {
  }
  .img {
    width: 70%;
    img {
      max-width: 100%;
    }
  }


  @media only screen and (min-width: 720px) {
    .abs-cont {
      position: absolute;
      top: 170px; //110
      h2 {
        margin-bottom: 26px;
        padding-top: 0;
      }
      h3 {
        margin-bottom: 0;
      }
    }
    .copy {
      width: 50%;
    }
    .img {
      width: 50%;
      padding-left: 8.33%;

      img {

      }
    }
  }
  @media only screen and (min-width: 922px) {
    .copy {
      padding-right: 8.33%;
      width: calc(50% - 12px);
      margin-right: 12px;
    }
    .img {
      padding-right: 8.33%;
      width: calc(50% - 12px);
      margin-left: 12px;
      padding-left: 0;
      img {
        width: 80%;
      }
    }

  }
  @media only screen and (min-width: 1273px) {
    .abs-cont {
      padding-left: 30px;
    }
  }
}
