//top portfolio styles

.portfolio-top {
	text-align: center;
	.portfolio-container {
    position: relative;
	}

	.image {
	  opacity: 1;
	  display: block;
	  width: 100%;
	  height: auto;
	  transition: .5s ease;
	  backface-visibility: hidden;
	}

	.view-live {
	  transition: .5s ease;
	  opacity: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	}

	.portfolio-container:hover .image {
	  opacity: 0.3;
	}

	.portfolio-container:hover .view-live {
	  opacity: 1;
	}

	.heading-2 {
		color: black;
		text-align: center;
		margin-bottom: 27px;
	}
	.heading-3 {
		margin-bottom: 7px;
	}
	.lines {
		&:before, &:after {
			border-bottom: solid 1px black;
		}
	}
	@media only screen and (min-width: 720px) {
		.a-item {
			display: block;
			margin: 0 8.33%;
		}
		.hello {
			width: 50%;
    	margin: 0 auto;
		}
	}
}
