//skills styles

.skills {
	background-color: $color-5;
	.icon-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.icon-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.heading-2 {
		color: white;
		text-align: center;
	}
	.icon {
		@include svgPng('js');
		height: 167px;
		width: calc(50% - 12px);
		background-position: center;
		margin-top: 24px;
		background-color: white;
		&:nth-of-type(2n) {
			margin-left: 12px;
		}
		&:nth-of-type(odd) {
			margin-right: 12px;
		}
	}
	.wordpress {
		@include svgPng('wordpress');

	}
	.css {
		@include svgPng('css');

	}
	.html {
		@include svgPng('html');

	}
	.react {
		@include svgPng('react');

	}
	.git {
		@include svgPng('git');

	}
	.ai {
		@include svgPng('ai');

	}
	.scss {
		@include svgPng('sass');
		background-color: white;
	}
	.button-ctr {
		text-align: center;
	}
	.button-1 {
		margin-top: 24px;
	}
	.hidden {
		display: none;
	}
	.hidden.open {
		display: flex;
	}
	@media only screen and (min-width: 720px) {
		.icon {
			width: 50%;
			margin-top: 48px;
			&:nth-of-type(2n) {
				margin-left: 0;
			}
			&:nth-of-type(odd) {
				margin-right: 0;
			}
		}
		.hidden.open {
			.icon {
				margin-top: 24px;
			}
		}
		.button-1 {
			margin-top: 48px;
		}
	}
	@media only screen and (min-width: 720px) {
		.icon-container {
			flex-wrap: nowrap;
		}
		.icon-flex {
			flex-wrap: nowrap;
		}
		.icon {
			margin-left: 12px;
			margin-right: 12px;
			&:nth-of-type(2n) {
				margin-left: 12px;
			}
			&:nth-of-type(odd) {
				margin-right: 12px;
			}
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
