$color-1: #3d5c7a; //dark blue
$color-2: #f1f1f1; //light grey
$color-3: #d85662; //
$color-4: #695c79; //dark purple 
$color-5: #CC6666; //pink purple
$color-6: #e77a82; //pink orange
$color-7: #efb49a; //peach


.heading-1 {
	font-size: 4.8rem;
	line-height: 57px;
	font-weight: 300;
	color: #2c363a;
	@media only screen and (min-width: 720px) {
		font-size: 6rem;
		line-height: 72px;
	}
}

.heading-2 {
	font-size: 2.8rem;
	line-height: auto;
	font-weight: 300;
	color: #2c363a;
	@media only screen and (min-width: 720px) {
		font-size: 3.6rem;
		line-height: 44px;
	}
}

.heading-3 {
	font-size: 2.4rem;
	line-height: 32px;
	font-weight: 300;
	color: #2c363a;
}

.heading-4 {
	font-size: 1.6rem;
	line-height: 19px;
	font-weight: 300;
	color: #2c363a;
}

.heading-5 {
	font-size: 1.2rem;
	line-height: 16px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #2c363a;
}

.body {
	font-size: 1.8rem;
	line-height: 24px;
	letter-spacing: 0.5px;
	font-weight: 300;
	color: #2c363a;
}

.button-1 {
	@extend .body;
	font-weight: 400;
	color: black;
	background-color: white; //#f7cfad
	@extend %soft-transition;
	padding: 6px 12px 6px;
	// border: 2px solid transparent;
	&:hover {
		background-color: $color-2;
		// color: #d85662;
		// border: 2px solid $color-7;
	}
}

.lines {
	position: relative;
	&:before {
		content: '';
		border-bottom: solid 1px #fff;
    position: absolute;
    width: 36px;
    left: -46px;
    top: 50%;
	}
	&:after {
		content: '';
		border-bottom: solid 1px #fff;
    position: absolute;
    width: 36px;
    right: -46px;
    top: 50%;
	}
}

::selection {
  background: rgba($color-7, 0.3); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba($color-7, 0.3); /* Gecko Browsers */
}
